<html>
    <head>
       
        <link rel="stylesheet" href='/staticFiles/form.css' />
        <link rel="stylesheet" href='/staticFiles/main.css' />
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="row">
        <div class="form">
            <h3>Job Description Entity Extraction</h3>
            
            <form action="{{ url_for('home') }}" method="post">
                
                <hr>
                <label for="model">Model:</label>
                <select id="model" name="model">
                    <option value="1">Default(xlarge)</option>
                    <option value="2">Fine_Tuned_Model</option>
                </select>

                <label for="num_example">Number_Examples</label>
                <input type="number" value="2" id="num_example" min="1" max="5" name="num_example" placeholder="Number of Examples" required>

                <label for="num_token">Number_Tokens</label>
                <input type="number" value="150" id="num_token" min="100" max="250" name="num_token" placeholder="Number of Tokens" required>
            
                <label for="prompt_type">Prompt_Way:</label>
                <select id="prompt_type" name="prompt_type">
                    <option value="1">Default(most similar)</option>
                    <option value="2">Random</option>
                </select>

                <label for="j_d">Job Description:</label>
                <textarea id="j_d" name="j_d" rows="4" cols="50" required="true">
                </textarea>

                <input type="submit" value="Submit">
                </form>
        </div>
        <div class="form">
            
        </div>
        </div>
        <div style="margin: 0 10%;">
            <p style="color: red;">{{error_text}}</p>
            {% if response -%}
                {% if process_dict -%}
                    {% for k,v in response.items() %}
                        <p>{{k}}: {{v}}</p>
                    {% endfor %}
                {% else %}
                    <p>{{response}}</p>
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>